# Ignore everything
*

# Re-include directories 
!*/

# Explicitly ignore virtual environments
.venv/

# Do not ignore these specific files
!.gitignore
!requirements.txt
!SC_EnigmadK68.mat
!test_MOU_largenet.py
!CalcEntropyMOU-SCZ.ipynb
!TS_Control.npy
!TS_Schizo.npy
!test_notebook.ipynb
